.App {
  text-align: center;
}

.container {
  display: flex;
}

.topBar {
  display: flex;
  justify-content: center;
  padding: 6px;
}

input {
  border: none;
  border-bottom: 2px solid gray;
  margin: 4px;
  font-size: medium;
}

button {
  background: #616161;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.rightBar {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: medium;
}